<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Lista Conatatos</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Lista Contatos</h1>
	<form action="" method="post" accept-charset="utf-8">
	<table>
		<caption> Meus Contatos </caption>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Email</th>
				<th>Sexo</th>
				<th>Cidade</th>
				<th colspan="2">Açoes</th>
			</tr>
		</thead>
		<tbody>
		{% for c in contatos %}
		
			<tr>
				<td>{{ c.id }}</td>
				<td>{{ c.nome }}</td>
				<td>{{ c.telefone }}</td>
				<td>{{ c.email }}</td>
				<td>{{ c.sexo }}</td>
				<td>{{ c.cidade }}</td>
				<td><a href=""> Editar </a></td>
				<td><a href=""> Apagar </a></td>
			</tr>
		{% endfor %}
		
		</tbody>
	</table>
</body>
</html>
